.wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.25rem;
	margin-bottom: 1rem;
}

.divider {
	height: 2.5rem;
	width: 2px;
	background-color: var(--color-black);
}

.icon {
	height: 2.5rem;
	width: 2.5rem;
}

.button:disabled {
	color: var(--color-black);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: var(--radius-sm);
	outline: none;
	background: none;
	color: var(--color-lightgray);
}

.button:focus {
	box-shadow: var(--shadow-sm);
}
