.success,
.error {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 1rem;
	border-radius: var(--radius-md);

	color: var(--color-white);
	margin-bottom: 1rem;
}

.icon {
	height: 2.5rem;
	width: 2.5rem;
}

.success {
	background-color: var(--color-green);
}

.error {
	background-color: var(--color-red);
}

.success p,
.error p {
	margin: 0;
}
