.input {
	opacity: 0;
	position: absolute;
	top: -100vh;
}

.label {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2rem;
	width: 2rem;
	box-shadow: var(--shadow-sm);
	border-radius: var(--radius-sm);
}

/* Cuando el checkbox no está checked */
.input:not(:checked) + .icon {
	display: none;
}

.label:focus-within {
	box-shadow: var(--shadow-md);
}

.icon {
	height: 1.5rem;
	width: 1.5rem;
}
